# Manually created

*.pdb #very large files with detailed debugging/error reporting information - too big for github and not essential

*.pem #mysql server keys
*.sdi #logs (server/sql/schema? debug info)

*.exe #yeah...

*logfile* #large
*undo* #large
*ibdata* #large
*ibtmp* #large
*sys.dic #large, not sure what these do???

*mysql-8.0.13* #@todo yeah... ok just gonna... figure something else out later.

*boards/* # don't put every single change to any board state in the git history, please
*.json #stop it please
*.mcl #see above

*.swp
*.un~

